@import "tailwindcss";

@font-face {
    font-family: Fira;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/src/assets/fonts/FIRASANS-REGULAR.TTF") format("truetype");
};